// Global Foundation Settings
@import "settings";

// Comment out this import if you don't want to use normalize
@import "normalize";

// Comment out this import if you are customizing you imports below
@import "foundation";

ul, ol {
    margin-left: 1.25em;
}

.top-bar .name h1, .top-bar-section ul li > a {
    font-family: $body-font-family;
    font-weight: 300;
}

.top-bar .name h1 a {
    font-family: $body-font-family;
    font-weight: 300;
    width: auto;
}

.top-bar-section li.social a{
    background-repeat: no-repeat;
    background-position: center;

    text-indent: -9000px;
    width: 32px;

    &.github {
        background-image: url(../images/social/github-32.png);
    }

    &.twitter {
        background-image: url(../images/social/twitter-32.png);
    }

    &.rss {
        background-image: url(../images/social/rss-32.png);
    }
}


.top-bar-section ul li > a:hover,
.top-bar-section li a:not(.button):hover{
    background-repeat: no-repeat;
    background-position: center;
}

.expanded .top-bar-section ul li > a:hover,
.expanded .top-bar-section li a:not(.button):hover{
    background-repeat: no-repeat;
    background-position: 16px;
}


.expanded .top-bar-section li.social a {
    text-indent: 0;
    width: auto;
    padding-left: 60px;
    background-position: 16px;
}

.post-list h2{
    font-size: 28px;

    a {
        color: #222222;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
            color: $topbar-bg;
        }
    }
}

.post-list h2 time{
    font-size: 14px;
    color: #666;
}

code {
    font-size: emCalc(14px);
}

#disqus_thread {
    margin-top: 1em;
}


.gist table {
    width: 100%;
    margin-bottom: 0;
}
