<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="keywords" content="Symfony2, Doctrine2, jQuery, symfony, PHP, Lyon, Elao, Développement web, MySQL"/>
        <meta name="description" content="Développeur Symfony2 et Doctrine2 Lyon" />
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/syntax.css">
        <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="/rss.xml"></link>
        <meta name="p:domain_verify" content="9f58c8c36d4cda77dcc2c0a158f911cf"/>
    </head>
    <body>
        <header>
            <h1><a href="/">{{ site.title }}</a></h1>
            <nav>
                <ul>
                    <li><a href="/about.html">À propos</a></li>
                    <li><a href="{{ site.twitter }}">Twitter</a></li>
                    <li><a href="{{ site.github }}">Github</a></li>
                </ul>
            </nav>
        </header>

        <div style="clear: both"></div>

        {{ content }}

        <script type="text/javascript">

            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', '{{ site.google_analytics }}']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();

        </script>

    </body>
</html>
